<div class="divborder">
  <div class="content">
<!-- Artikelnummer:  -->


      <div fxLayout="column">
        <h1>NEOOM Artikelnummer:</h1>
        <div class="articlenumber">
          <div fxLayout="column" class="barcode1">
            <ngx-barcode *ngFor="let bcValue of values" [bc-element-type]="elementType" [bc-value]="bcValue" [bc-format]="format"
                 [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height" ></ngx-barcode>
          </div>
          <div fxLayout="column">
            <input  placeholder="Artikelnummer" [(ngModel)]="value"/>
            <br/>
          </div>
      </div>


      <!-- Artikelbezeichnung:  -->
      <h1>Artikelbezeichnung:</h1>
      <label>
        <input style="width: 30%"  placeholder="Artikelbezeichnung" >
      </label>



      <!-- Seriennummer:  -->
      <div fxLayout="column">
        <h1>Seriennummer:</h1>
        <div fxLayout="column">
          <ngx-barcode *ngFor="let bcValue of values2" [bc-element-type]="elementType" [bc-value]="bcValue" [bc-format]="format"
                 [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height"></ngx-barcode>
        </div>
      </div>
      <div fxLayout="column">
        <input  placeholder="Seriennummer" [(ngModel)]="value2">
        <br/>
      </div>


      <!-- Colli:  -->
        <br>
      <table>
        <td>Colli: </td>

        <td>
          <input type="text" maxlength="1" style="width: 30px"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
        </td>

        <td>/</td>

        <td>
          <input type="text" maxlength="1" style="width: 30px"
           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />
        </td>
      </table>


        <!-- Download button:  -->
      <br><br><br><br><br><br>
      <div class="downloadbutton"> <button  (click)="downloadAsPDF()">Download as PDF</button></div>

  </div>
</div>
